.inputWrap {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.inputWrap__input {
    border-radius: 6px;
    border: 1px solid #0096c7;
    color: #111;
    font-size: 14px;
    padding: 10px 20px;
    outline: none;
    margin-right: 10px;
}
